@charset "utf-8";
.header {
border:solid 1px #d0d0d0;
font-size: 100%;

}

.dclock{
font-size: 120%;
}

.aaa{
	font-size: 90%;
	border-radius:6px;
	padding: 0px 9px 0px 9px;
	background-color: #E0E0F8;
	border: 1px solid #666;
	color:#000;
	text-decoration:none;
}

h2 {
    //text-align: center;
}

/* FAQ */
.faq{border-bottom:1px solid #ddd;margin:1em 0}
.faq .faqHeader{position:relative;zoom:1}
.faq .faqHeader .showAll{position:absolute;bottom:0;right:0;
	font-size: 90%;
	overflow:visible;
	background:#E0E0F8;
	cursor:pointer;
	border-radius:6px;
	padding: 0px 9px 0px 9px;
	border: 1px solid #666;
	text-decoration:none;
	}
.faq .faqBody{margin:0;padding:0}
.faq .faqBody .article{list-style:none}
.faq .q{white-space:pre-line;margin:0;border-top:1px solid #ddd}
.faq .q a{white-space:pre-line;display:block;padding:.5em 1em;text-align:left;font-weight:bold;background:#F2F2F2;color:#000;text-decoration:none !important}
.faq .q a:hover, .faq .q a:active, .faq .q a:focus{white-space:pre-line;background:#E0E0F8}
.faq .a{white-space:pre-line;margin:0;padding:1em;line-height:1.5;background:#EFEFFB}